* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    color: white;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 2% 0;
    height: 12vh;
    background-color: #0a192f;
    border-bottom: 0.5vh solid #52c6b4;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo img {
    width: 33%;
    height: 33%;
    border-radius: 100%;
    margin-right: 10px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu-hamburguer {
    cursor: pointer;
    margin: 8px;
}

.menu-hamburguer.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.menu-hamburguer.active .line2 {
    opacity: 0;
}

.menu-hamburguer.active .line3 {
    transform: rotate(45deg) translate(-4px, -3px);
}

.menu-hamburguer div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 6px;
    transition: 0.3s;
}
.nav-list {
    display: flex;
    position: absolute;
    top: 11.5vh;
    right: 0;
    width: 50vw;
    height: 30vh;
    background-color: #0a192f;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);

    transition: transform 0.3s ease-in;
}

.nav-list.active {
    transform: translateX(0%);
}

ul li {
    display: inline;
    list-style: none;
}

@media screen and (min-width: 450px) {
    html{
        font-size: 10px;
    }
    .header-links{
        width: 40%;
    }
    .menu-hamburguer {
        display: none;
    }

    .nav-list {
        display: flex;
        width: 100%;
        position: inherit;
        width: auto;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        transform: translateX(0);
    }
}

body {
    height: 76vh;
}

footer {
    height: 12vh;
}