* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    color: white;
}

header {
    width: 100%;
    padding: 2% 0;
    height: 24vh;
    background-color: #0a192f;
    border-bottom: 0.5vh solid #52c6b4;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo img {
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu-hamburguer{
    cursor: pointer;
}
.menu-hamburguer div{
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 6px;
}
.nav-list{
    display: flex;
    position: absolute;
    top: 23vh;
    right: 0;
    width: 50vw;
    height: 30vh;
    background-color: #0a192f;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ul li {
    display: inline;
    list-style: none;
}
@media screen and (min-width: 450px) {
    .menu-hamburguer{
        display: none;
        cursor: pointer;
        background-color: white;
        margin: 8px;
    }
    nav{
        display: block;
    }
}
body{
    height: 76vh;
}
footer{
    height: 12vh;
}